@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}
body {
  font-family: "Akshar", sans-serif;
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
  background-color: #e0e0e0;
  overflow-x: hidden;
}

header{
    background-color: #121212 ;
    width: 110vw;
  
}
h1 {
  text-align: center;
  padding: 23px;
  color: white;
}

#clear {
  width: 270px;
  border-radius: 7px;
  background: #121212;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  color: white;
}
.opr {
  color: #fff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background-color: #121212;
}
.formstyle {
  width: 300px;
  height: 530px;
  margin: 50px auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: #e0e0e0;
  border-radius: 5px;
  padding: 40px;
}

input {
  width: 50px;
  height: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin: 11px;
  font-size: 25px;
}

#calc {
  width: 230px;
  background: #e0e0e0;
  border: 1px solid #121212;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 7px;
  padding: 30px;
  margin: auto;
}
